:root{
    --one_font: 'Source Sans Pro', sans-serif;
    --two_font:'Raleway', sans-serif;
    --one-font-weight:400px;
    --two-font-weight:700px;
};
$c_one:#4B5D68;
$c_two:#212353;
$c_three:#9C69E2;
$c_four:#F063B8;
$c_five:#68C9BA;


*{
    font-family: var(--t_font);
    margin: 0;
    padding:0;
    background-color: #FFFAFA;
    box-sizing: content-box;
   
}
.button1{
  border-radius: 50px;
  box-shadow: 0px 8px 10px rgba(169, 166, 166, 0.5);
  padding:5px 10px;
    
}

.button2{
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.5);
}

a{
    font-size: 18px;
    font-family:'Source Sans Pro', sans-serif;
    color:black;
    text-decoration: none;
  }

.header{
   
    margin:0px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;  
}
.wrap{
    text-align: center;


    &__left{
        display: flex;
        justify-content: space-between;  
        margin-top: 30px;
    }

    &__right{
        margin-top: 30px;
      
        .img{
            margin-left: 20px;
        }
    }
    &__button{
      
        padding:10px 20px;
    }

    &__logo{
       margin: 0;
       padding:0;

    }

    &__nav{
    margin-left: 121px;

    }
  
    &__items{ 
        margin-right: 20px;
    }
}
@media  screen and (min-width: 768px){

  .button{
  border-radius: 50px;
 
 &:hover{
    color:#9C69E2;

        }
    
}
 .header{
     padding: 0;
        margin:0px;
      
    }

    .wrap{
        display: flex;
        justify-content: space-between;
        font-size: 40px;
        
    &__left{
      
        margin-top: 35px;
    }
     &__right{
            margin-top: 37px;
        }
    &__button{
        padding:15px 25px;
    }

        &__nav{
           font-size: 15px;
          // margin-top: 50px;
          // margin-bottom: 20px;

            // a.active{
            //        position: relative;
            //     &::after{
            //         content: '';
            //         position: absolute;
            //         bottom: -9px;
            //         display: inline-block;
            //         border-radius: 100%;
            //         width: 3px;
            //         height: 3px;
            //         margin: auto;
            //         left: 50%;
            //         transform: translateX(-50%);
                   
            //         }
            //     }
            }
       &__items{
                margin-right: 40px;
                font-family: Avenir;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;

          &:hover{
            color:#9C69E2;
            font-weight: bold;
           // font-size: 20px;    
                }
            }
    }

}
@media  screen and (min-width:992px){

}