:root{
    --one_font:'Roboto',sans-serif;
    --two_font:'Raleway', sans-serif;
    --one-font-weight:400px;
    --two-font-weight:700px;
};
$c_one:#4B5D68;
$c_two:#212353;
$c_three:#9C69E2;
$c_four:#F063B8;
$c_five:#68C9BA;


*{
    font-family: var(--t_font);
    font-family: var(--t_font);

    margin: 0;
    padding:0;
    background-color: #FFFAFA;
    box-sizing: content-box;
   
}
.button{
    border-radius: 50px;
  margin:20px;
  padding:10px 20px;
    
}

.button2{
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.5);
}

.header{
    margin-top: 15px;
    margin-bottom: 15px;
    margin:0px;
    font-size: 20px;
}
.wrap{
    text-align: center;

    &__logo{
        margin: auto;
        padding:0;
       margin-top: 40px;
       margin-bottom: 20px;

    }

    &__nav{

    font-size: 18px;
      a{
        color:black;
         text-decoration: none;
      }
    }
  
    &__items{
      
       
        margin-right: 20px;
    }
}
@media  screen and (min-width: 768px){

  .button{
    border-radius: 50px;

  margin:20px;
  padding:16px 37px;
    
}
    .header{
        margin-top: 200px;
        margin-bottom: 15px;
        margin:0px;
        font-size: 30px;
    }

    .wrap{
        display: flex;
        justify-content: space-between;

        &__nav{
           font-size: 15px;
           margin-top: 50px;
           margin-bottom: 20px;

            a.active{
                   position: relative;
                &::after{
                    content: '';
                     position: absolute;
                    bottom: -9px;
                    display: inline-block;
                    border-radius: 100%;
                    width: 3px;
                    height: 3px;
                    margin: auto;
                    left: 50%;
                    transform: translateX(-50%);
                   
                    }
                }
            }
       &__items{
                margin-right: 40px;
                font-weight: 500;
                font-size: 16px;
          &:hover{
            color:purple;
            border: 1px solid #000000
                 
                    
                }
            }
    }

}
@media  screen and (min-width:992px){

}