:root{
    --one_font:'Roboto',sans-serif;
    --two_font:'Raleway', sans-serif;
    --one-font-weight:400px;
    --two-font-weight:700px;
};
$c_one:#4B5D68;
$c_two:#212353;
$c_three:#9C69E2;
$c_four:#F063B8;
$c_five:#68C9BA;


*{
    color: $c_text;
    font-family: var(--t_font);
    margin: 0;
    padding:0;
    background-color: #FFFAFA;
    box-sizing: content-box;
   
}